@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(0 0% 89.8%);
  }
  body {
    background-color: white;
    color: hsl(0 0% 3.9%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}
